/*html {
  height: 100%;
}

body {
  background-color: #CCCCCC;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
    text-align: center;
}

li {
   margin: 20px
}

a {
    font-size: 20px;
}

p {
  font-size: 25px;
}
*/